{% extends '::Backend/base.html.twig' %}

{% block body -%}
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Chamados por clientes</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row ">
        <form class="" action="{{ path('backend_report_calls_client') }}" method="post" {{ form_enctype(form) }}>

            {% block messages %}
                {{ parent() }}
                {{ form_errors(form) }}
            {% endblock %}
            <div class="col-xs-4 mb-10">
              <label>Responsável</label>
              {{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Busca...'}}) }}
            </div>
            <div class="col-xs-4 mb-10">
              <label>Cliente</label>
              {{ form_widget(form.client, {'attr': {'class': 'form-control', 'placeholder': 'Busca...'}}) }}
            </div>
            <div class="col-xs-4 mb-10">
              <label>Status</label>
              {{ form_widget(form.status, {'attr': {'class': 'form-control', 'placeholder': 'Busca...'}}) }}
            </div>
            <div class="col-xs-6 mb-10">
              <label>Item</label>
              {{ form_widget(form.item, {'attr': {'class': 'form-control', 'placeholder': 'Busca...'}}) }}
            </div>
            <div class="col-xs-6 mb-10">
              <label>Tipo de atendimento</label>
              {{ form_widget(form.attendance, {'attr': {'class': 'form-control', 'placeholder': 'Busca...'}}) }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 mb-10">
              <label>Data Inicial</label>
              {{ form_widget(form.begin_date, {'attr': {'class': 'form-control date-picker', 'placeholder': 'Escolha a data inicial'}}) }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 mb-10">
              <label>Data Final</label>
              {{ form_widget(form.end_date, {'attr': {'class': 'form-control date-picker', 'placeholder': 'Escolha a data final'}}) }}
            </div>

            <div class="col-xs-1">
                <button type="submit" class="btn btn-default">Pesquisar</button>
            </div>
            <div class="col-xs-3">
                <a href="{{ path('backend_report_calls_client_export') }}" class="btn btn-success">Exportar</a>
            </div>
        </form>
      </div>

      <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listagem de Chamados por clientes</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Total de Chamados</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if entities|length > 0 %}
                              {% for entity in entities %}
                                  <tr>
                                      <td>{{ entity.name }} - {{entity.email}}</td>
                                      <td>{{ entity.totalchamados }}</td>
                                  </tr>
                              {% endfor %}
                            {% else %}
                              <tr>
                                <td>
                                  Nenhum registro encontrado
                                </td>
                              </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/app/js/vendor/moment-with-locales.js')}}"></script>
    <script src="{{asset('bundles/app/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js')}}"></script>
    <script src="{{asset('bundles/app/js/custom/admin/script.js')}}"></script>
{% endblock %}
